<!DOCTYPE html>
<html>
<head>
    <title>SideBoard - Add</title>
</head>
<body>
<hl>Add A New Sideboard</hl>
<form action="/sideboard/insert" method="get">
    Deck Against: <input name="deckAgainst" type="text" /><br />
    Description: <input name="description" type="text" /><br />
    Creatures: <input name="creatures" type="text" /><br />
    Spells: <input name="spells" type="text" /><br />
    Artifacts: <input name="artifacts" type="text" /><br />
    Lands: <input name="lands" type="text" /><br />
    ID of Main Deck: <input name="deck_Id" type="number" /><br />

    <input type="submit" />
</form>
</body>
</html>