<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <hl> Homepage:</hl>
  <p>
    The purpose for this site is to save and categorize decklists for the game
    'Magic: The Gathering' and others in the future as they all follow a
    similar formatting style in regards to deck composition.
    <br />
    Through the links below you can view decks as well as information pertaining
    to each.
    <br />
    <br />
    Please note that some of these tables cannot nor should be modified
    as they rarely change and there is no need to add to them unless
    a new playstyle is largely popularized in the competitive community.
  </p>
  </body>
  <ul>
    <li><a class="nav" href="/archetypes/all">Archetypes</a></li>
    <li><a class="nav" href="/deckStyle/all">Deck Types</a></li>
    <li><a class="nav" href="/deckLists/all">Decks</a></li>
    <li><a class="nav" href="/sideboard/all">Sideboards</a></li>
    <li><a class="nav" href="/matchups/all">Matchups</a></li>
    <li><a class="nav" href="/colors/all">Color Archetypes</a></li>
  </ul>
  <br />
  <hl>SQL Query Pages</hl>
  <ul>
    <li><a class="nav" href="/queries/one">Query One</a></li>
    <li><a class="nav" href="/queries/two">Query Two</a></li>
    <li><a class="nav" href="/queries/three">Query Three</a></li>
    <li><a class="nav" href="/queries/four">Query Four</a></li>
    <li><a class="nav" href="/queries/five">Query Five</a></li>
    <li><a class="nav" href="/queries/six">Query Six</a></li>
    <li><a class="nav" href="/queries/seven">Query Seven</a></li>
    <li><a class="nav" href="/queries/eight">Query Eight</a></li>
    <li><a class="nav" href="/queries/nine">Query Nine</a></li>
    <li><a class="nav" href="/queries/ten">Query Ten</a></li>
  </ul>
  </body>
</html>
